// your variable changes can go here
$dark: #333333 !default;
$calm: #0097AB !default;

@import "ionic/ionic";



// your slick styles can go here..
// when Sass processes, both Ionic's Sass and your Sass will combine
// into one file and saved in your app's directory as css/app.css

// Home

.startimage
{
  max-width: 100%;
  height: auto;
}
.startimagecontainer
{
  padding: 1.3em 6em;
}

// Coinflip
.coin-yes
{
  color: #3fff59;
  border-color: #3fff59;
}
.coin-no
{
  color: #ff4143;
  border-color: #ff4143;
}
.coin-yes,
.coin-no
{
  font-size: 5em;
  line-height: 1.5;
  text-align: center;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 5em;
  border-width: 0.1em;
  border-style: solid;
}

// Pro-Con
.text-big {
  font-size: 3.5em;
}

.button-larger.icon:before
{
  font-size: 80px;
}
.button-larger
{
  min-height: 100px;
}

// Phone Landscape
@media all and (min-width:$grid-responsive-sm-break) {
  .startimagecontainer
  {
    padding: 1.3em;
  }
}