<ion-view title="Coinflip" ng-controller="CoinflipCtrl">
    <ion-content has-header="true" padding="true" >

        <ion-refresher
                pulling-text="Pull to flip again"
                on-refresh="reflip()">
        </ion-refresher>

        <div class="coin-yes" ng-show="should">
            <i class="ion-thumbsup"></i>
            <p>YES</p>
        </div>
        <div class="coin-no" ng-hide="should">
            <i class="ion-thumbsdown"></i>
            <p>NO</p>
        </div>

    </ion-content>
</ion-view>