<!--
  This template loads for the 'index' state (app.js)
-->
<ion-view title="Decision Helper">
    <ion-content has-header="true" padding="true">
        <div class="row responsive-sm">
        <div class="startimagecontainer col col-33">
            <img src="assets/decisionhelper.png" class="startimage">
        </div>
        <div class="col col-66">
        <a class="button button-calm button-block icon-right ion-chevron-right padding-vertical" href="#/coinflip">Flip a coin!</a>
        <a class="button button-calm button-block icon-right ion-chevron-right padding-vertical" href="#/procon">Vote</a>
        <a class="button button-calm button-block icon-right ion-chevron-right padding-vertical" href="#/multicon">Pro - Con</a>
        <a class="button button-calm button-block icon-right ion-chevron-right padding-vertical" href="#/coinflip">Best of</a>
        </div>
        </div>
    </ion-content>
</ion-view>